$body: var(--body);
$white: var(--txt-white);
$black: var(--txt-black);
$primary: var(--primary-color);
$color_1: var(--color_1);
$color_2: var(--color_2);
$paragraph: var(--paragraph-color);
$forgot: var(--forgot-color);
$page_bg: var(--page_bg-color);
$input_shadow: var(--input_shadow-color);
$content_border :var(--content_border-color);
$card_primary: var(--card-color);
$bottom_bar: var(--bottom-bar);
$disable_button: var(--disable-button);
$deposit_button: var(--deposit-button);
$watch_bg: var(--watch-bg);
$dark_watch: var(--dark_watch-bg);
$mixing_card: var(--mixing_card-color);
$green: var(--green-color);
$red: var(--red-color);
$pink: var(--pink-color);
$number_bg: var(--number-bg);
$profile_bg: var(--profile-bg);