.slider_sec {
    padding: 20px 0 30px;

    h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                text-align: center;
            }
        }
    }
}