.tab_sec {
    padding: 20px 0 40px;

    @media($breakpoint_SM) {
        padding-bottom: 25px;
    }

    h2 {
        font-size: 29px;
        margin-bottom: 15px;

        @media($breakpoint_MD) {
            font-size: 26px;
        }

        @media($breakpoint_450) {
            font-size: 22px;
        }
    }

    .gradient-text {
        font-size: 100px;
        line-height: 83px;
        text-align: center;
        font-weight: 700;
        background: linear-gradient(to right, #22aeff, #FFB258);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;

        @media($breakpoint_LG) {
            font-size: 90px;
            line-height: 80px;
        }

        @media($breakpoint_MD) {
            font-size: 65px;
            line-height: 60px;
        }

        @media($breakpoint_SM) {
            font-size: 50px;
            line-height: 45px;
        }

        @media($breakpoint_450) {
            font-size: 40px;
            line-height: 40px;
        }

        @media($breakpoint_ESM) {
            font-size: 35px;
            line-height: 30px;
        }
    }

    .img_content {
        @include display(center, center);
        flex-direction: column;
        gap: 10px;

        h6 {
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    .managementStyle {
        font-size: 24px;
        margin-bottom: 10px;

        @media($breakpoint_SM) {
            font-size: 21px;
        }

        @media($breakpoint_ESM) {
            font-size: 18px;
        }
    }

    .manage_para {
        color: $forgot;

        @media($breakpoint_450) {
            font-size: 14px;
        }
    }

    .find_btn {
        @include display(center, center);
        margin-top: 15px;

        button {
            border: 1px solid $black;
            padding: 10px 25px;
            font-size: 16px;
            font-weight: 600;
            border-radius: 20px;
            background-color: $white;

            @media($breakpoint_SM) {
                padding: 8px 20px;
                font-size: 14px;
            }
        }
    }
}

.hideme {
    opacity: 0;
}